{% extends 'app/base.html' %}
{% block title %}An email send{% endblock title %}
{% block content %}
<div class="w3-container">
    <div class="row">
        <div class="col-12">
            <div>
                <h4 class="font-weight-bold">Reset password confirmation</h4>
            </div>
            <div class="mt-4">
                <p class="font-italic text-secondary">Instructions to reset your password has been sent to your email.</p>
            </div>
        </div>
    </div>
</div>    
{% endblock content %}
