{% extends 'app/base.html' %}
{% block title %}An email send{% endblock title %}
{% block content%}
    <div class="mt-2 class="w3-container"">
        <div>
            <h2>Password reset finished.</h2>
        </div>
        <div>
            <p>Password reset has been successfully executed, you can now login with your new password.
                <a href="{% url 'login' %}" class="btn btn-info" role="button">Login now</a>
            </p>
        </div>
        
    </div>
{% endblock content %}
